# These configurations hold no practical bearing on performance during this assessment demo. However, this is to
# demonstrate my understanding of deeper and more advanced concepts about database optimizations in production
# setup and how to control such configurations from within the codebase in a CI/CD environment.

[mysqld]

# General setting
max_connections=500                # Increase max connections if you expect many concurrent users
innodb_buffer_pool_size=512M       # Buffer pool size should be 50-80% of total system memory
innodb_redo_log_capacity=536870912 # Log file size to handle larger transactions
innodb_flush_log_at_trx_commit=2   # Reduces disk I/O for high traffic, but slightly less crash-safe

# Thread and memory settings
thread_cache_size=16               # Increase thread cache to reduce overhead of thread creation
tmp_table_size=64M                 # Increase temporary table size for better handling of large queries
max_heap_table_size=64M            # Increase heap table size for temporary tables in memory
table_open_cache=1024              # Increase the number of cached tables

# Performance schema (optional)
performance_schema = OFF             # Disable for less overhead unless you need performance metrics